<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="WO_Region" value="EN"/>
	</appSettings>
  <connectionStrings >
    <add name="dbConnectionString" connectionString="Server=26.163.92.76;Database=LTS;User ID=sa;Password=NEWyorkEMPIRE;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<httpRuntime enableVersionHeader="false" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>
